{% extends 'base.html' %}

{% block title %}
PICSL Histology Annotation Server
{% endblock %}

{% block content %}

<style>
.zoom {
  transition: transform .2s; /* Animation */
  max-width: 200px;
  height: 75px;
}

.zoom:hover {
  transform: scale(2.56) translate(5pt,0pt); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  position: absolute;
}

.spanner {
  height: 75px;
}

.ui-menu {
  font-size: 80%;
  line-height: $line-height * 0.8;
  white-space: nowrap;
}

.menuDialog {
  border-width: 0px;
  padding: 0;
}
.menuDialog > .ui-dialog-titlebar {
  display: none;
}
.menuDialog > .ui-dialog-content {
  padding: 0;
}

</style>


<a href="{{ url_for('slide.index')}}">Home</a>
<span id="span_project_name"></span>


<!-- DataTable support -->
<div class="pure-g" style="max-width: 1024px;">
  <div class="pure-u-1 pure-u-md-12-24">
    <h3 align="center">PROJECTS</h3>
    <div id="d_project_table">
      <table id="project" class="compact stripe hover" style="width:100%">
        <thead>
          <tr>
            <th>Id</th>
            <th>Admin</th>
            <th>Project</th>
            <th>#Spc</th>
            <th>#Blk</th>
            <th>#Sld</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
    <div id="no_project_message" style="display:none; text-align:center;">
      You are not a member of any project. Please contact a system administrator to be added to a project.
    </div>
  </div>
  <div class="pure-u-1 pure-u-md-1-24">
  </div>
  <div class="pure-u-1 pure-u-md-11-24" id="d_tasks" style="display:none;">
    <h3 align="center">TASKS</h3>
    <table id="task" class="compact stripe hover" style="width:100%">
      <thead>
        <tr>
          <th>Id</th>
          <th>Mode</th>
          <th>Activity</th>
          <th>#Spc</th>
          <th>#Blk</th>
          <th>#Sld</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>

<!-- Popup menus -->
<div id="dialog-proj-context-menu" class="menuDialog" style="display: none;">
  <ul id="proj-context-menu">
    <li id="mi-about" data-isadmin=0>
      <div><span class="ui-icon ui-icon-help"></span>About</div>
    </li>
    <li id="mi-labelset-edt" data-isadmin=1>
      <div><span class="ui-icon ui-icon-lightbulb"></span>Edit Label Sets</div>
    </li>
  </ul>
</div>

<div id="dialog-task-context-menu" class="menuDialog" style="display: none;">
  <ul id="task-context-menu">
    <li id="mi-task-about" data-isadmin=0>
      <div><span class="ui-icon ui-icon-help"></span>About</div>
    </li>
    <li id="mi-task-all-slides" data-isadmin=1>
      <div>View All Slides</div>
    </li>
    <li id="mi-task-all-samples" data-isadmin=0>
      <div>View All Samples</div>
    </li>
    <li id="mi-task-all-sroi" data-isadmin=0>
      <div>View All Sampling ROIs</div>
    </li>
    <li id="mi-task-slide-manifest" data-isadmin=1>
      <div>Download Slide Manifest</div>
    </li>
  </ul>
</div>

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='DataTables/datatables.min.css') }}"/>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='jquery-ui/jquery-ui.css') }}">
<script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='jquery-3.6.4.min.js') }}"></script>
<script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='jquery-ui/jquery-ui.js') }}"></script>
<script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='DataTables/datatables.min.js') }}"></script>

<script type="text/javascript" charset="utf8">
$(document).ready(function() {

  // AJAX url templates
  var url_prj="{{url_for('slide.project_listing')}}";
  var url_task="{{url_for('slide.task_listing', project='XXXX')}}";
  var url_action="{{url_for('slide.task_detail', task_id='999999')}}";
  var url_labelset_edt="{{url_for('dltrain.labelset_editor', project='XXXX')}}";
  var url_task_all_slides="{{url_for('slide.task_all_slides', task_id='999999')}}";
  var url_task_all_samples="{{url_for('dltrain.task_all_samples', task_id='999999')}}";
  var url_task_slide_manifest="{{url_for('slide.api_task_list_all_slides', task_id='999999')}}";

  // Rendering of links
  var fn_task_link_render = function(data, type, row) {
    var url = url_action.replace('999999',row['id']);
    return '<a class="action" href="'+url+'">'+row['name']+'</a>';
  };

  // Create the HTML for the ellipsis button
  // fn_make_ellipsis_button();

  // Column descriptions for the project table. Note the last table
  // sets up the context menu
  var prj_col_desc = [
    { data: "id", visible: false },
    { data: "admin", visible: false },
    { data: "disp_name" },
    { data: "nspecimens" },
    { data: "nblocks" },
    { data: "nslides" },
    {
      data: null,
      className: "dt-center context-menu ellipsis",
      defaultContent: fn_make_ellipsis_button(),
      orderable: false
    }
  ];

  // Column descriptions for the task table
  var task_col_desc = [
    { data: "id", visible: false },
    { data: "mode", visible: false },
    { data: "name", render: fn_task_link_render },
    { data: "nspecimens" },
    { data: "nblocks" },
    { data: "nslides" },
    {
      data: null,
      className: "dt-center context-menu ellipsis",
      defaultContent: fn_make_ellipsis_button(),
      orderable: false
    }
  ];

  var py2js = function(str) { return str === "None" ? null : str; }
  var request_prj=py2js("{{project_name}}");

  // Set up the dialog holding the context menu. The dialog is used to
  // pop up the menu when the ellipsis button is clicked
  $("#dialog-proj-context-menu").dialog({
    modal: true,
    autoOpen: false,
    closeOnEscape: true,
    title: false,
    width: "auto",
    height: "auto",
    dialogClass: "menuDialog",
    resizable: false,
    draggable: false,
    open: function (event, ui) {
        $(this).css('padding', '0px');
        $(".ui-widget-overlay").on("click", function () {
            $("#dialog-proj-context-menu").dialog("close");
        });
    }
  });

  $("#dialog-task-context-menu").dialog({
    modal: true,
    autoOpen: false,
    closeOnEscape: true,
    title: false,
    width: "auto",
    height: "auto",
    dialogClass: "menuDialog",
    resizable: false,
    draggable: false,
    open: function (event, ui) {
        $(this).css('padding', '0px');
        $(".ui-widget-overlay").on("click", function () {
            $("#dialog-task-context-menu").dialog("close");
        });
    }
  });

  let popup_about_dialog = function(title, content) {
    $("<div></div>").html(content).dialog({
      modal: true,
      title: title,
      width: "auto",
      height: "auto",
      buttons: {
        "Close": function() {
          $(this).dialog("close");
        }
      }
    });
  };

  // Set up the actual menu, including actions when the menu items are clicked
  $("#proj-context-menu").menu({
    select: function (event, ui) {
      var dialog = $("#dialog-proj-context-menu");
      var project = dialog.data("project");
      dialog.dialog("close");
      if (ui.item[0].id === "mi-about") {
        // pop up a dialog with project info using ajax
        var url = "{{url_for('slide.project_get_info', project='XXXX')}}".replace('XXXX', project);
        $.ajax({
          url: url,
          success: function(resp_text) {
            resp = JSON.parse(resp_text);
            popup_about_dialog("Project Information", resp.description);
          }
        });        
        return false;
      }
      else if(ui.item[0].id === "mi-labelset-edt") {
        url = url_labelset_edt.replace('XXXX', project);
        window.location.href = url;
        return false;
      }
      return true;
    }
  });

  $("#task-context-menu").menu({
    select: function (event, ui) {
      var dialog = $("#dialog-task-context-menu");
      var task_id = dialog.data("task_id");
      dialog.dialog("close");
      if (ui.item[0].id === "mi-task-about") {
        // pop up a dialog with project info using ajax
        var url = "{{url_for('slide.task_get_info', task_id='999999')}}".replace('999999', task_id);
        $.ajax({
          url: url,
          success: function(resp_text) {
            resp = JSON.parse(resp_text);
            popup_about_dialog("Task Information", resp.desc);
          }
        });        
        return false;
      }
      else if(ui.item[0].id === "mi-task-all-slides") {
        url = url_task_all_slides.replace('999999', task_id);
        window.location.href = url;
        return false;
      }
      else if(ui.item[0].id === "mi-task-slide-manifest") {
        url = url_task_slide_manifest.replace('999999', task_id);
        window.location.href = url;
        return false;
      }
      else if(ui.item[0].id === "mi-task-all-samples" || ui.item[0].id === "mi-task-all-sroi") {
        url = url_task_all_samples.replace('999999', task_id);
        window.location.href = url;
        return false;
      }
      return true;
    }
  });

  // Set up the project table
  var t_project = $('#project').DataTable( {
    "ajax": function(data, callback, settings) {
      $.ajax({
        url: url_prj,
        success: function(resp_text) {
          resp_data = JSON.parse(resp_text)
          callback({data: resp_data});
          if(resp_data.length === 0) {
            $('#d_project_table').css('display', 'none');
            $('#no_project_message').css('display', 'block');
          }
          else {
            $('#d_project_table').css('display', 'block');
            $('#no_project_message').css('display', 'none');
            if(request_prj) {
              fn_select_row(t_project, 0, request_prj);
              request_prj=null;
            }
          }
        }
      });
    },
    columns: prj_col_desc,
    paging: false,
    scrollY: "600px",
    scrollCollapse: true,
    info: false,
    select: 'single',
    searching: false
  } );

  // Handle the context menu button click
  t_project.on('click', 'td.context-menu', function(e) {
    var pos = { my: "left top", at: "left bottom", of: e };
    var dialog = $("#dialog-proj-context-menu");

    // Set the project field so we know the context
    var row_data = t_project.row($(this).closest('tr')).data();
    dialog.data("project", row_data.id);

    // Enable and disable menu items based on admin status
    $("#proj-context-menu").children("li").each(function(idx) {
      if($(this).data("isadmin") === 1 && row_data.admin !== 1) {
        $(this).addClass('ui-state-disabled');
      }
      else {
        $(this).removeClass('ui-state-disabled');
      }
    });
    dialog.dialog("option", "position", pos).dialog("open");
    return false;
  });

  var t_task = $('#task').DataTable( {
    "ajax": function(data, callback, settings) {
      if(selected_prj) {
        $.ajax({
          url: url_task.replace('XXXX',selected_prj),
          success: function(resp_text) {
            callback({data: JSON.parse(resp_text)});
          }
        });
      }
    },
    columns: task_col_desc,
    paging: false,
    scrollY: "600px",
    scrollCollapse: true,
    info: false,
    select: 'single',
    searching: false
  } );

  // Handle the context menu button click
  t_task.on('click', 'td.context-menu', function(e) {
    var pos = { my: "left top", at: "left bottom", of: e };
    var dialog = $("#dialog-task-context-menu");

    // Set the project field so we know the context
    var row_data = t_task.row($(this).closest('tr')).data();
    dialog.data("task_id", row_data.id);

    // Toggle the visibility of different menu items
    if(row_data.mode == 'dltrain')
      $("#mi-task-all-samples").removeClass('ui-state-disabled');
    else
      $("#mi-task-all-samples").addClass('ui-state-disabled');

    // Toggle the visibility of different menu items
    if(row_data.mode == 'sampling')
      $("#mi-task-all-sroi").removeClass('ui-state-disabled');
    else
      $("#mi-task-all-sroi").addClass('ui-state-disabled');

    // Show dialog
    dialog.dialog("option", "position", pos).dialog("open");
    return false;
  });

  var selected_prj = null;

  var py2js = function(str) { return str=="None" ? null : str; }
  var request_prj=py2js("{{project_name}}");

  var fn_select_row = function(table, col, value) {
    var indexes = table.rows().eq( 0 ).filter( function (rowIdx) {
          return table.cell(rowIdx, col).data() === value;
    } );
    if(indexes.length === 1) {
      table.row(indexes[0]).select();
    }
  };

  t_project.on('select', function(e,dt,type,indexes) {
    if(type === 'row') {
      // Set the target url
      selected_prj = t_project.rows(indexes).data().pluck('id')[0];
      var desc = t_project.rows(indexes).data().pluck('disp_name')[0];
      t_task.ajax.reload();
      $('#span_project_name').text(" : " + desc);
      $('#d_tasks').css('display','block');
    }
  });

  t_project.on('deselect', function(e,dt,type,indexes) {
    selected_prj = null;
    $('#span_project_name').text("");
    $('#d_tasks').css('display','none');
  });
} );
</script>

{% endblock %}
