{% extends 'base.html' %}

{% block header %}
  {% block title %}Update Profile{% endblock %}
{% endblock %}

{% block content %}
<script type="text/javascript" src="{{ url_for('static', filename='jquery.js') }}"></script>


    <form method="post" class="pure-form pure-form-stacked">
      <fieldset>
        <div class="pure-g" style="max-width: 640px;">
          <div class="pure-u-1 pure-u-md-1-2">
            <label for="username">Username:</label>
            <input name="username" class="pure-u-23-24" type="text" id="username" value="{{username}}" readonly style="width:180pt;">
          </div>
          <div class="pure-u-1 pure-u-md-1-2">
            <label for="email">Email Address:</label>
            <input name="email" class="pure-u-23-24" type="email" id="email" value="{{email}}" required style="width:180pt;">
          </div>
          <div class="pure-u-1 pure-u-md-1-3">
            <button type="submit" class="pure-button pure-button-primary">Save Changes</button>
          </div>
          <div class="pure-u-1 pure-u-md-2-3"></div>
        </div>
      </fieldset>
    </form>
{% endblock %}

