{% extends 'base.html' %}

{% block header %}
  {% block title %}Register{% endblock %}
{% endblock %}

{% block content %}
<div>
  <form method="post">
    <fieldset>
      <div>
      <label for="reg_username">Username</label>
      <input name="username" id="username" required>
      </div>

      <div>
      <label for="reg_password">Password</label>
      <input type="password" name="password" id="password" required style="width=120px">
      </div>

      <div>
      <label for="reg_syspass">Invitation Code</label>
      <input type="password" name="syspass" id="syspass" required style="width=120px">
      </div>

      <div>
        <button type="submit">Register</button>
      </div>
    </fieldset>
  </form>
</div>
{% endblock %}
