<!doctype html>
<html>
  <head>
    <title>{% block title %}{% endblock %} - PICSL HistoAnnot</title>
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='pure/pure-min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='pure/grids-responsive-min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='pure/layouts/marketing.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
<body>
  <div class="header">
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed" style="padding-top:0px; padding-bottom:0px; vertical-align: middle;">
      <a class="pure-menu-heading" href="/" style="padding-left:0px">
        <img src="{{ url_for('static', filename='icons/microscope_icon_40.png') }}"
             alt="Microscope icon" style="vertical-align:middle"></img>
        PICSL Histology Annotator
      </a>
      <ul class="pure-menu-list" style="position:absolute; top:50%; left:100%; transform: translate(-100%,-50%);">
        {% if g.user %}
          <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
            <a href="#" class="pure-menu-link">{{ g.user['username'] }}</a>
            <ul class="pure-menu-children">
                <li class="pure-menu-item">
                    <a href="{{ url_for('auth.edit_user_profile') }}" class="pure-menu-link">Edit profile</a>
                </li>
                {% if g.user['site_admin'] > 0 %}
                  <li class="pure-menu-item">
                      <a href="{{ url_for('admin.user_management') }}" class="pure-menu-link">Manage users</a>
                  </li>
                {% endif %}
                <li class="pure-menu-item">
                  <a href="{{ url_for('auth.generate_api_key') }}" class="pure-menu-link">Generate API key</a>
                </li>
          </ul>
          </li>
          <li class="pure-menu-item"><a class="pure-menu-link" href="{{ url_for('auth.logout') }}">Log Out</a>
        {% else %}
          <li class="pure-menu-item"><a class="pure-menu-link" href="{{ url_for('auth.login') }}">Log In</a>
        {% endif %}
      </ul>
    </div>

    <div id="main">
      <div class="content" style="padding-top:56px">
        <h1> {% block header %}{% endblock %} </h1>
        {% for message in get_flashed_messages() %}
          <div class="flash" style="color:darkred">{{ message }}</div>
        {% endfor %}
        {% block content %}{% endblock %}
      </div>
    </div>
  </div>
</body>
</html>
