<!doctype html>
<html>
<head>
  <title>{% block title %}{% endblock %} - PICSL HistoAnnot</title>
  <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='pure/pure-min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='pure/grids-responsive-min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='pure/layouts/marketing.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='ellipsis_button.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='toggle_checkbox.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='ellipsis_button.js') }}"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

  <!-- Common controls: Ellipsis menu button -->
  <div id="ellipsis-button" style="display: none;">
    <svg viewBox="0 0 20 20" class="ellipsis ellipsis_dots" focusable="false">
      <ellipse cx="10.5" cy="10.5" rx="2" ry="2"/>
      <ellipse cx="10.5" cy="5.0" rx="2" ry="2"/>
      <ellipse cx="10.5" cy="16.0" rx="2" ry="2"/>
    </svg>
    <svg viewBox="0 0 20 20" class="ellipsis ellipsis_circle" focusable="false">
      <ellipse cx="10.5" cy="10.5" rx="8" ry="8"/>
    </svg>
  </div>

  <div class="header">
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed" style="padding-top:0px; padding-bottom:0px; vertical-align: middle;">
      <a class="pure-menu-heading" href="/" style="padding-left:0px">
        <img src="{{ url_for('static', filename='icons/microscope_icon_40.png') }}"
             alt="Microscope icon" style="vertical-align:middle"></img>
        PICSL Histology Annotator
      </a>
      <!-- Add a toggle button to the left of the next menu item -->
      
      <ul class="pure-menu-list" style="position:absolute; top:50%; left:100%; transform: translate(-100%,-50%);">
        {% if g.user %}
          <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
            <a href="#" class="pure-menu-link">{{ g.user['username'] }}</a>
            <ul class="pure-menu-children" style="background-color: rgb(250, 250, 255);">
                <li class="pure-menu-item">
                    <a href="{{ url_for('auth.edit_user_profile') }}" class="pure-menu-link">Account Settings ...</a>
                </li>
                {% if g.user['site_admin'] > 0 %}
                  <li class="pure-menu-item">
                      <a href="{{ url_for('admin.user_management') }}" class="pure-menu-link">Manage Users ...</a>
                  </li>
                {% endif %}
                <li class="pure-menu-item">
                  <a href="{{ url_for('auth.generate_api_key') }}" class="pure-menu-link">Generate API key</a>
                </li>
                {% if not config.HISTOANNOT_DISABLE_ANONYMIZATION %}
                <li class="pure-menu-item">
                  <form method="get" action="{{ url_for('auth.toggle_anonymize') }}">
                    <label class="toggle" style="padding: 8px 16px 8px 16px;">
                      <input class="toggle-checkbox" type="checkbox" {% if g.anonymize %}checked{% endif %} onChange="this.form.submit()">
                      <div class="toggle-switch"></div>
                      <span class="toggle-label" style="color: #6FBEF3;">Anonymize</span>
                    </label>
                  </form>
                </li>
                {% endif %}
        
          </ul>
          </li>
          <li class="pure-menu-item"><a class="pure-menu-link" href="{{ url_for('auth.logout') }}">Sign Out</a>
        {% else %}
          <li class="pure-menu-item"><a class="pure-menu-link" href="{{ url_for('auth.login') }}">Sign In</a>
        {% endif %}
      </ul>
    </div>

    <div id="main">
      <div class="content" style="padding-top:56px">
        <h1> {% block header %}{% endblock %} </h1>
        {% for message in get_flashed_messages() %}
          <div class="flash" style="color:darkred">{{ message }}</div>
        {% endfor %}
        {% block content %}{% endblock %}
      </div>
    </div>
  </div>
</body>
</html>