{% extends 'base.html' %}

{% block content %}
<a href="{{ url_for('slide.index')}}">Home</a> : {{block['specimen_name']}}:{{block['block_name']}}
  <table class="pure-table">
    <thead>
      <tr>
	<th> </th>
        <th>Section</th>
        <th>Slice</th>
        <th>Stain</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
  {% for slide in slides %}
      <tr>
        <td><a href="{{ url_for('slide.slide_view', id=slide['id']) }}"><img height="72px" src="{{url_for('slide.thumb', id=slide['id'])}}"></img></a></td>
        <td>{{slide['section']}}</td>
        <td>{{slide['slide']}}</td>
        <td>{{slide['stain']}}</td>
        <td><a class="action" href="{{ url_for('slide.slide_view', id=slide['id']) }}">View</a></td>
      </tr>
  {% endfor %}
{% endblock %}
