{% extends 'base.html' %}

{% block header %}
Activity Selection
{% endblock %}

{% block title %}
Home
{% endblock %}

{% block content %}
<p>Please select one of these activities to view available specimens and slides.</p>

  <table class="pure-table pure-table-striped">
    <thead>
      <tr>
        <th>Activity</th>
        <th>Description</th>
        <th>#SPC</th>
        <th>#BLK</th>
        <th>#SLD</th>
      </tr>
    </thead>
    <tbody>
  {% for t in tasks %}
      <tr>
        <td><a class="action" href="{{ url_for('slide.task_detail', task_id=t['id']) }}">{{t['name']}}</a></td>
        <td width="400px">{{t['desc']}}</td>
        <td>{{t['nspecimens']}}</td>
        <td>{{t['nblocks']}}</td>
        <td>{{t['nslides']}}</td>
      </tr>
  {% endfor %}
{% endblock %}
