{% extends 'base.html' %}

{% block header %}
{% endblock %}

{% block content %}

<style type="text/css">
html {
    overflow: hidden;
}
body {
    margin: 0;
    padding: 0;
}
div#view {
    position: relative;
    left: 0;
    width: 100%;
    height: calc(100vh - 100px);
    background-color: white;
    color: black;
}

button.bottom_button {
    border-radius: 3px;
    margin: 0 5px 5px 5px;
    padding: 2px 0 2px 0;
    cursor: pointer;
}

button.enabled {
    border: 2px solid blue;
    color: blue;
}

button.active, button.enabled:hover {
    background-color: blue;
    color: white;
}

button.disabled, button.disabled:hover {
    color: lightgray;
    border: 2px solid lightgray;
}

</style>
<a href="{{ url_for('slide.index')}}">Home</a> : <a href="{{ url_for('slide.block_detail', id=slide_info['block_id']) }}">{{ slide_info['specimen_name'] }}_{{ slide_info['block_name'] }}</a> : {{ slide_info['section'] }}_{{ slide_info['slide'] }}_{{ slide_info['stain'] }}  

<span style="float:right">
{% if prev_slide %}
    <a href="{{url_for('slide.slide_view', id=prev_slide['id'])}}">Previous Slide</a>
{% endif %}
&nbsp
{% if next_slide  %}
    <a href="{{url_for('slide.slide_view', id=next_slide['id'])}}">Next Slide</a>
{% endif %}
</span>

<div id="view">
<input id="marker" placeholder="Enter Text" style="display:none; position: absolute; left:0px; top:0px; width:100px; height:40px;"></input>
</div>
<button id="draw_button" class="bottom_button enabled">&nbsp Draw Lines (D) &nbsp</div>
<button id="nav_button" class="bottom_button enabled active">&nbsp Zoom and Pan (Z) &nbsp</div>
<button id="del_button" class="bottom_button disabled">&nbsp Delete (Del) &nbsp</div>
<button id="marker_button" class="bottom_button enabled">&nbsp Place Marker (M) &nbsp</div>
<script type="text/javascript" src="{{ url_for('static', filename='openseadragon-bin-2.4.0/openseadragon.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='jquery.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='openseadragon-scalebar.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='openseadragon-paperjs-overlay.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='mousetrap.min.js') }}"></script>

  <script type="text/javascript" src="{{ url_for('static', filename='paper-full.min.js') }}"></script>
<script type="text/javascript">
$(document).ready(function() {

    var viewer = new OpenSeadragon({
        id: "view",
        prefixUrl: "{{ url_for('static', filename='openseadragon-bin-2.4.0/images/') }}",
        showNavigator: true,
        showRotationControl: false,
        showSequenceControl: true,
        animationTime: 0.5,
        blendTime: 0.1,
        constrainDuringPan: true,
        maxZoomPixelRatio: 1.1,
        minPixelRatio: 1.0,
        minZoomLevel: 1,
        visibilityRatio: 1,
        zoomPerScroll: 2,
        timeout: 120000
    });
    viewer.addHandler("open", function() {
        // To improve load times, ignore the lowest-resolution Deep Zoom
        // levels.  This is a hack: we can't configure the minLevel via
        // OpenSeadragon configuration options when the viewer is created
        // from DZI XML.
        viewer.source.minLevel = 8;
    });
    var mpp = parseFloat("{{ slide_mpp }}");
    viewer.scalebar({
        pixelsPerMeter: mpp ? (1e6 / mpp) : 0,
        xOffset: 10,
        yOffset: 10,
        barThickness: 3,
        color: '#555555',
        fontColor: '#333333',
        backgroundColor: 'rgba(255, 255, 255, 0.5)',
    });

    // Initialization for paper_js
    var overlay
    function init_paperjs() {
        overlay = viewer.paperjsOverlay();
        overlay.resize();
        overlay.resizecanvas();

        // Get the initial data
        download_annot()
    }

    // Paper default settings
    paper.settings.handleSize = 10;

    // Add the tiled image to the viewer and when successful, initialize the overlay
    viewer.addTiledImage({
        tileSource: "{{ url_for('slide.dzi', id=slide_id) }}",
        x: 0,
        y: 0,
        success: init_paperjs
    });

    // Current interaction mode
    var curr_mode = 'NAV'

    // Initialize the paper.js overlay
    var curr_path

    // Helper function to get Point corresponding to OSD event
    var ev_point = function(event) {
        return paper.view.viewToProject(new paper.Point(event.position.x, event.position.y));
    }

    // Helper function to get the delta corresponding to OSD event
    var ev_delta = function(event) {
        var transformed_point1 = paper.view.viewToProject(new paper.Point(0,0));
        var transformed_point2 = paper.view.viewToProject(new paper.Point(event.delta.x, event.delta.y));
        return transformed_point2.subtract(transformed_point1);
    }
    

    var deselect_all_manipulables = function() {
        var selected = paper.project.selectedItems;
        for (var i = 0; i < selected.length; i++) {
            var item = selected[i];
            if (item instanceof paper.Path || item instanceof paper.PointText) {
                item.selected = false;
            }
        }
    }

    var get_number_selected_manipulables = function() {
        var selected = paper.project.selectedItems;
        var n = 0;
        for (var i = 0; i < selected.length; i++) {
            var item = selected[i];
            if (item instanceof paper.Path || item instanceof paper.PointText)
                n++;
        }
        return n;
    }

    var upload_annot = function() {
        payload = paper.project.exportJSON();
        $.post( "{{ url_for('slide.upload_json', id = slide_id) }}", payload, function(response_text) { console.log("AJAX reponse"); console.log(response_text) })
    }

    var download_annot = function() {
        $.get( "{{ url_for('slide.get_json', id = slide_id) }}", function(data, status) {
            if(status=='success' && data.length) {
                paper.project.importJSON(data)
                deselect_all_manipulables()
            }
        })
    }

    var moving_object
    var moving_object_moved=false;

    var set_slide_mouse_nav = function(state) {
        if(state == true && viewer.isMouseNavEnabled() == false)
            viewer.setMouseNavEnabled(true);
        else if(state == false && viewer.isMouseNavEnabled() == true)
            viewer.setMouseNavEnabled(false);
    }

    var get_width_in_canvas_units = function(full_zoom_width) {
        // Get the total dimensions of the canvas
        // Let's say we want the text to appear like 10-point font when the entire slide occupies 
        // a canvas of width 1000. Then the actual font is 10 * (width/1000), or really max(width,height) * 10 / 1000
        var canvas_size = viewer.world.getItemAt(0).getContentSize();
        return Math.round(Math.max(canvas_size.x, canvas_size.y) * full_zoom_width / 1000);
    }

    var press_handler = function(event) {
        if(curr_mode == 'DRAW') {
            curr_path = new paper.Path({
                                       segments: [ev_point(event)],
                                       strokeColor: 'black',
                                       strokeCap: 'round',
                                       strokeWidth: get_width_in_canvas_units(1) });
        }
        else if(curr_mode == 'NAV') {
            hit = paper.project.hitTest(ev_point(event))
            moving_object=null;
            if(hit) {
                if(!hit.item.selected) {
                    // Hitting an unselected target
                    deselect_all_manipulables();
                    hit.item.selected = true;
                    fn_update_button_state();
                    paper.view.draw();
                    moving_object = hit.item;
                    moving_object_moved = true;
                }
                else {
                    // Starting to move a selected target
                    moving_object = hit.item;
                    moving_object_moved = false;
                }
            }
            else {
                deselect_all_manipulables()
                set_slide_mouse_nav(true);
                paper.view.draw();
            }
        }
    }

    var drag_handler = function(event) {
        if(curr_mode == 'DRAW') {
            curr_path.add(ev_point(event))
            paper.view.draw();
        }
        else if(curr_mode == 'NAV' && moving_object) {
            // Move the object by the delta
            moving_object.position = moving_object.position.add(ev_delta(event));
            console.log(event.delta)
            if(event.delta.x != 0 || event.delta.y != 0)
                moving_object_moved = true;
            paper.view.draw();
        }
    }

    var dragEnd_handler = function(event) {
        if(curr_mode == 'DRAW') {
            curr_path.simplify(10)
            upload_annot()
            paper.view.draw();
            nav_pressed_handler();
        }
    }

    var show_marker_editor = function(event, target_item) {
        var p = ev_point(event);
        var input = document.getElementById("marker");
        input.style.left = "" + event.position.x - 50 + "px";
        input.style.top = "" + event.position.y - 20 + "px";
        input.style.width = "100px";
        input.style.height = "40px";
        input.style.display = "block";
        input.style.textAlign = "center";
        input.style.zIndex = 100;

        if(target_item) { input.value = target_item.content; } else { input.value = null; }

        input.focus();

        input.onkeypress = function(e) {
            if(!e) e = window.event;
            if (e.keyCode == '13') {
                this.style.display = "none";
                if(target_item) {
                    target_item.content = this.value;
                    target_item.visible = true;
                    target_item.selected = false;
                } else {

                    var newtext = new paper.PointText(p);
                    newtext.content = this.value;
                    newtext.style = {
                        fontWeight: 'bold',
                        fontSize: get_width_in_canvas_units(10),
                        justification: 'center'
                    };
                }
                paper.view.draw();
                nav_pressed_handler();
                upload_annot();
                return false;
            }
        }
    }

    var release_handler = function(event) {
        if(curr_mode == 'NAV' && moving_object) {
            if(!moving_object_moved)
                moving_object.selected = false;
            moving_object = null;
            paper.view.draw();
            upload_annot();
        }
        else if(curr_mode == 'MARKER') {
            show_marker_editor(event, null);
        }

    }


    var move_handler = function(event) {
        if(curr_mode == 'NAV' && paper.project) {
            hit = paper.project.hitTest(ev_point(event))
            if(hit) {
                document.getElementById("view").style.cursor = "pointer";
                set_slide_mouse_nav(false);
            }
            else {
                document.getElementById("view").style.cursor = "default";
                var sel_size = get_number_selected_manipulables();
                // Nav behavior only available if no selection
                if(sel_size == 0)
                    set_slide_mouse_nav(true);
                else
                    set_slide_mouse_nav(false);
            }
        }
    }

    var dblClick_handler = function(event) {
        if(curr_mode == 'NAV') {
            hit = paper.project.hitTest(ev_point(event))
            if(hit && hit.item instanceof paper.PointText) {
                hit.item.visible = false;
                show_marker_editor(event, hit.item);
            }
        }
    }

    var mouse_tracker = new OpenSeadragon.MouseTracker({
                                                       element: viewer.canvas,
                                                       pressHandler: press_handler,
                                                       releaseHandler: release_handler,
                                                       dragHandler: drag_handler,
                                                       dragEndHandler: dragEnd_handler,
                                                       dblClickHandler: dblClick_handler,
                                                       moveHandler: move_handler });

    mouse_tracker.setTracking(true);

    // Update button active state
    var fn_update_button_state = function() {
        // Is there an active selection
        if(get_number_selected_manipulables() > 0)
            document.getElementById("del_button").className = 
                document.getElementById("del_button").className.replace(" disabled", " enabled");
        else
            document.getElementById("del_button").className = 
                document.getElementById("del_button").className.replace(" enabled", " disabled");
    }

    
    // Active button decoration
    var fn_active_button = function(element) {
        var current = document.getElementsByClassName("active");
        current[0].className = current[0].className.replace(" active", "");
        element.className += " active";
    }

    // Event handler
    var draw_pressed_handler = function(options) {
        set_slide_mouse_nav(false);
        viewer.outerTracker.setTracking(false);
        curr_mode = 'DRAW';
        fn_active_button(document.getElementById('draw_button'))
        document.getElementById("view").style.cursor = "crosshair";
    }

    var nav_pressed_handler = function(options) {
        set_slide_mouse_nav(true);
        viewer.outerTracker.setTracking(true);
        curr_mode = 'NAV';
        fn_active_button(document.getElementById('nav_button'))
        document.getElementById("view").style.cursor = "default";
    }

    var marker_pressed_handler = function(options) {
        set_slide_mouse_nav(false);
        viewer.outerTracker.setTracking(false);
        curr_mode = 'MARKER';
        fn_active_button(document.getElementById('marker_button'))
        document.getElementById("view").style.cursor = "crosshair";
    }

    var del_pressed_handler = function(options) {
        if(document.getElementById("del_button").className.includes(" enabled")) {
            var selected = paper.project.selectedItems;
            for (var i = 0; i < selected.length; i++) {
                var item = selected[i];
                if (item instanceof paper.Path || item instanceof paper.PointText) {
                    item.remove()
                }
            }
            fn_update_button_state()
            upload_annot();
            paper.view.draw();
        }
    }

    var drawButton_elt = document.getElementById('draw_button');
    var navButton_elt = document.getElementById('nav_button');
    var delButton_elt = document.getElementById('del_button');
    var markerButton_elt = document.getElementById('marker_button');

    // Create a drawing button
    var drawButton = new OpenSeadragon.Button({element: drawButton_elt, tooltip: 'Draw line segments on the slide'})
    var navButton = new OpenSeadragon.Button({element: navButton_elt, tooltip: 'Navigate around the slide using zoom and pan'})
    var delButton = new OpenSeadragon.Button({element: delButton_elt, tooltip: 'Delete selected line or text'})
    var markerButton = new OpenSeadragon.Button({element: markerButton_elt, tooltip: 'Place anatomical marker'})

    viewer.addControl(navButton.element, { anchor: OpenSeadragon.ControlAnchor.BOTTOM_LEFT })
    viewer.addControl(drawButton.element, { anchor: OpenSeadragon.ControlAnchor.BOTTOM_LEFT })
    viewer.addControl(markerButton.element, { anchor: OpenSeadragon.ControlAnchor.BOTTOM_LEFT })
    viewer.addControl(delButton.element, { anchor: OpenSeadragon.ControlAnchor.BOTTOM_RIGHT })


    drawButton.addHandler('press', draw_pressed_handler)
    navButton.addHandler('press', nav_pressed_handler)
    delButton.addHandler('press', del_pressed_handler)
    markerButton.addHandler('press', marker_pressed_handler)

    // Sometimes the scrolling is messed up
    document.body.scrollTop = document.documentElement.scrollTop = 0;
    
    window.onresize = function() {
        document.body.scrollTop = document.documentElement.scrollTop = 0;
        overlay.resize();
        overlay.resizecanvas(); }

    // Disable viewer keyboard
    viewer.innerTracker.keyDownHandler = null;
    viewer.innerTracker.keyPressHandler = null;
    viewer.innerTracker.keyHandler = null;

    // Some keyboard navigation
    Mousetrap.bind('d', function() { draw_pressed_handler() });
    Mousetrap.bind(['z', 'esc'], function() { nav_pressed_handler() });
    Mousetrap.bind(['m', 'esc'], function() { marker_pressed_handler() });
    Mousetrap.bind(['backspace', 'del'], function() { del_pressed_handler() });
    Mousetrap.bind('j', function() { console.log(paper.project.exportJSON()) });
});
</script>
{% endblock %}
