{% extends 'base.html' %}

{% block header %}
  {% block title %}Register{% endblock %}
{% endblock %}

{% block content %}
  <form method="post">
    <label for="username">Username</label>
    <input name="username" id="username" required>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>
    <label for="password">System Password</label>
    <input type="password" name="syspass" id="syspass" required>
    <input type="submit" class="" value="Register">
  </form>
{% endblock %}
