/* Toggle Checkbox CSS, adapted from https://codepen.io/morgoe/pen/VvzWQg */

.toggle {
	cursor: pointer;
	display: inline-block;
}

.toggle-switch {
	display: inline-block;
	background: #ccc;
	border-radius: 11px;
	width: 39px;
	height: 22px;
	position: relative;
	vertical-align: middle;
	transition: background 0.25s;
	&:before,
	&:after {
		content: "";
	}
	&:before {
		display: block;
		background: linear-gradient(to bottom, #fff 0%,#eee 100%);
		border-radius: 50%;
		box-shadow: 0 0 0 1px rgba(0,0,0,0.25);
		width: 16px;
		height: 16px;
		position: absolute;
		top: 3px;
		left: 3px;
		transition: left 0.25s;
	}
	.toggle:hover &:before {
		background: linear-gradient(to bottom, #fff 0%,#fff 100%);
		box-shadow: 0 0 0 1px rgba(0,0,0,0.5);
	}
	.toggle-checkbox:checked + & {
		background: #6FBEF3;
		&:before {
			left: 20px;
		}
	}
}
.toggle-checkbox {
	position: absolute;
	visibility: hidden;
}
.toggle-label {
	margin-left: 5px;
	position: relative;
	top: 2px;
}